.About_page{
    background-color: #DDDDDD!important;
    width: 100%;
    padding-top: 20px!important;
    padding-bottom: 20px!important;
}

.Box_about{
    height: 95%!important;
    width: 90%!important;
    scroll-margin-top: 100px;
    margin: auto!important;
    margin-bottom: 10px!important;
    padding: 0px!important;
}

.build_box{
    background: linear-gradient(to top left, #52efda 0%, #8dffcc 100%)!important;
    text-align: center;
    width: 100%!important;
    padding: 80px 0px;
}

.about_heading{
    font-weight: 1000;
    font-size: 2.5rem;
    margin: auto!important;
    padding-top: 20px;
    font-family: 'Spartan', sans-serif!important;
}

.about_para{
    margin:auto!important;
    font-size: 1.5rem;
    padding: 15px 200px;
    font-family: 'Open Sans', sans-serif!important;
}

.about_buttons{
    cursor: pointer!important;
    margin-left: 25%!important;
    margin-right: 25%!important;
    margin: 20px 0px;
}

.about_btn{
    width: 100%;
    height: 34px;
    background-color:black;
    border: none;
    color: white;
    font-weight: 900;
    font-size: 1rem;
    font-family: 'Spartan', sans-serif!important;
    font-stretch: ultra-expanded;
    cursor: pointer;
}

/* mobile view of build */

@media only screen and (max-width: 420px){
    .About_page{
        margin-bottom: 60px!important;
    }
    
    .Box_about{
        width: 94%!important;
    }
    
    .build_box{
        padding: 40px 0px!important;
    }
    .about_heading{
        font-size: 1.8rem!important;
    }
    .about_para{
        font-size: 1rem!important;
        padding-left: 20px!important;
        padding-right: 20px!important;
    }
    .about_buttons{
        cursor: pointer!important;
        margin-left: 20%!important;
        margin-right: 20%!important;
        margin: 20px 0px;
    }
    .apply_button{
        margin: inherit!important;
    }
}

.member_demo{
    padding-top: 20px;
}

.apply_button{
    cursor: pointer;
    margin: 20px 10px;
}

.apply_btn{
    width: 100%;
    height: 34px;
    background-color:#befaf2;
    border: none;
    font-weight: 900;
    font-size: 1rem;
    font-family: 'Spartan', sans-serif!important;
    font-stretch: ultra-expanded;
    cursor: pointer;
}



.event_demo{
    padding: 50px 0px;
}

.partnership_demo{
    padding: 80px 40px;
}

@media only screen and (max-width: 420px){
    .event_demo{
        padding: 30px 0px!important;
    }
    .partnership_demo{
        padding: 0px 10px!important;
    }
    .testimonials_demo{
        padding-left: 10px!important;
        padding-right: none!important;
        padding-top: 80px!important;
    }
    .test_apply_btn{
        width: 80%!important;
        font-size: 1rem!important;
        padding: 0px 5px!important;
    }
}

.testimonials_demo{
    padding: 80px 40px;
    padding-bottom: 0px!important;
}

.testimonial_head{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
}

.test_apply{
    cursor: pointer;
    margin: 20px 10px;
}

.test_apply_btn{
    width: 100%;
    height: 40px;
    background: linear-gradient(to top left, #52efda 0%, #8dffcc 100%)!important;
    border: none;
    font-weight: 900;
    font-size: 1rem;
    font-family: 'Spartan', sans-serif!important;
    font-stretch: ultra-expanded;
    cursor: pointer;
    padding: 0px 20px; 
}

.testimonial_input {
    /* width: 200px; */
    margin: 0 auto;
    display: inline;
}

.test_input {
    width: 200px;
    height: 40px;
    font-size: 1.2rem;
    /* font-weight: bold; */
    background-color: #DDDDDD!important;
    margin: 5px;
    font-family: 'Open Sans', sans-serif!important;
    margin-right: 15px;
    border: none!important;
    display: inline;
}
.test_input1 {
    width: 95%;
    height: 40px;
    font-size: 1.2rem;
    /* font-weight: bold; */
    background-color: #DDDDDD!important;
    margin: 5px;
    font-family: 'Open Sans', sans-serif!important;
    margin-right: 15px;
    border: none!important;
}

.test_textarea1 {
    width: 95%;
    font-size: 1.2rem;
    /* font-weight: bold; */
    background-color: #DDDDDD!important;
    margin: 5px;
    font-family: 'Open Sans', sans-serif!important;
    margin-right: 15px;
    border: none!important;
}

.test_file_input{
    margin-left: 5px;
    font-family: 'Open Sans', sans-serif!important;
}

.test_msg{
    margin: auto!important;
    font-family: 'Open Sans', sans-serif!important;
    font-size: 1.2rem;
    color: #4BB543;
    font-weight: 600;
    text-align: center;
}

.test_btn1 {
    width: 95%;
    height: 40px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: rgb(82, 239, 218);
    margin: 5px;
    font-family: 'Spartan', sans-serif!important;
    margin-right: 15px;
    border: none!important;
    cursor: pointer;
}

@media only screen and (max-width: 420px){
    .test_input{
        width: 115px!important;
        margin: 3px!important;
    }
    .test_input1{
        margin: 3px!important;
        width: 96%!important;
    }
    .test_msg{
        font-size: 0.9rem!important;
    }
    .test_btn1{
        margin: 3px!important;
        width: 98%!important;
    }
    .test_textarea1{
        margin: 3px!important;
        width: 96%!important;
    }
    .test_file_input{
        margin: 3px!important;
    }
}

.footer_about{
    padding-top: 20px;
    padding-left: 20px;
    background-color: black!important;
    margin-top: 50px;
}

.footer_grid{
    padding: 10px 20px!important;
    color: white!important;
}

.footer_head{
    font-family: 'Spartan', sans-serif!important;
    margin-bottom: auto!important;
    margin-top: 5px!important;
}

.footer_head1{
    margin-bottom: auto!important;
    font-weight: 100!important;
    padding-bottom: 0px!important;
    margin-top: auto!important;
}

.footer_para{
    font-family: 'Open Sans', sans-serif!important;
}

.footer_link{
    text-decoration: none!important;
    color: white;
    font-size: 1rem!important;
}

@media only screen and (max-width: 420px){
    .footer_body{
        color: white;
    }
    .footer_head1{
        margin: 20px 0px!important;
        margin-bottom: 15px!important;
    }
    .footer_para{
        font-size: 0.9rem!important;
        margin-right: 10px!important;
    }
    .footer_link{
        font-size: 0.9rem!important;
    }
}

